
<style>
    .contanier{
        width: 800px;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        display: flex;
        flex-direction: column;
    }
    .link{
        padding: 10px;
        background: #8257e6;
        color: #fff;
        border-radius: 6px;
        text-align: center;
    }
    .info {
        margin: 5px;
    }
    .divLink {
        display: flex;
        justify-content: space-between;
    }
    .footer{
      margin-top: 20px;
    }
    .border{
      border: 1px solid black;
      border-radius: 5px;
      padding: 8px;
    }

</style>

<div class="contanier">
    <label> Olá {{name}}! Tudo bem?</label>

    <h3>Precisa redefinir sua senha?</h3>
    <br/>
    <strong>Use seu código secreto!</strong>
    <div class="info">
        <p class="border"><strong>Email: </strong>{{email}}</p>
         <p class="border"><strong>código: </strong>{{codePassword}}</p>
    </div>
    <div class="divLink">
    </div>

    <br/>
    <br/>
  <div class="footer">
      <strong> Sua colaboração é muito importante para nós</strong>
      <h3>Equipe | <strong> IEQ-CENTENARIO </strong></h3>
  </div>
</div>
