<style>
    footer {
        margin-top: 100px;
        background-color: #ede2fc;
        padding: 5px;
    }

    .border {
        border: 1px solid black;
        border-radius: 5px;
        padding: 8px;
    }

    .item {
        margin: 10px;
        text-align: center;
        font-size: 1em;
    }

    .marginLeft-20 {
        margin-left: 20px;
    }

    .justify-content-center {
        justify-content: center;
    }

    .container {
        max-width: 800px;
    }

    body {
        margin-top: 30px;
    }

    .colorDiv {
        background-color: #e9e9e9;
    }
</style>


<section class="container">
    <div class="item"> <label> Olá {{name}}! Tudo bem?</label></div>
    <div class="item">
        <h5>Precisa redefinir sua senha?</h5>
    </div>
</section>
<section class="container">
    <div class="item">
        <strong>Use seu código secreto!</strong>
    </div>
    <div class="item">
        <label class="border colorDiv"><strong>Email: </strong>{{email}}</label>
        <label class="border colorDiv"><strong>Código: </strong>{{codePassword}}</label>
    </div>
</section>

<footer class="container">
    <div class="item"> <label> Sua colaboração é muito importante para nós</label></div>
    <div class="item">
        <label>Equipe | <strong> IEQ-CENTENARIO </strong></label>
    </div>
</footer>